html {
  background-color: #000;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

a {
  color: #fff;
  font-style: normal;
}

.back {
  text-decoration: none;
}

.back:hover {
  color: #C7DA2C;
}

hr {
  border-color: #C7DA2C;
  border-width: 2px;
}

h2 {
  text-decoration: none;
  border-bottom: 1px solid #C7DA2C;
}

.project {
  color: #fff;
}

a:hover {
  color: #C7DA2C;
}

.about {
  font-weight: 100;
}

.image-box {
  display: block;
}

footer {
  background-color: #161616;
}

.item-name {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
}

.banner-pad {
  padding-left: 0;
  padding-right: 3em;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  .banner {
    margin-top: 10em;

  }

  .overlay:hover .item-name {
    opacity: 1;
    transition: .3s ease;
  }

  .item-name {
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    transition: .3s ease;
    opacity: 0;
  }

}

@media only screen and (min-width: 70em) {

  .banner-pad {
    padding-left: 0;
    padding-right: 0;
  }


}
