<footer class="micro pad-b" role=footer">

  <div class="text-center">
    <a class="back unit island" href="#main"> ^ Top </a>
  </div>

  <div class="text-center push-1-2">
    <div class="icons inline-block">
      <a href="https://twitter.com/ScottyMartel">
        <i class="icon i-32">
          <img class="img-flex" src="{{site.baseurl}}/images/twitter-icon-white.svg">
        </i>
      </a>
    </div>

    <div class="icons inline-block gutter">
      <a href="https://dribbble.com/Smartel">
        <i class="icon i-32">
          <img class="img-flex" src="{{site.baseurl}}/images/dribbble-icon-white.svg">
        </i>
      </a>
    </div>

    <div class="icons inline-block">
      <a href="https://www.instagram.com/scott.martel/">
        <i class="icon i-32">
          <img class="img-flex" src="{{site.baseurl}}/images/instagram-icon-white.svg">
        </i>
      </a>
    </div>
  </div>

  <div>
    <p class="text-center push-0">Scott Martel Design</p>
    <p class="text-center push-0">Website by Scott Martel</p>
    <address class="text-center push-0"><a href="mailto:hello@smartel.design" itemprop="email" role="email">Contact me!  hello@smartel.design</a></address>
  </div>

</footer>
